body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-width: 500px;
}

.dark, .white, .grey, .footer{
    padding: 0px 300px;
    
}
.dark {
    background-color: #1f2937;
}

.grey {
    background-color: #e5e7eb;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.white {
    padding-top: 50px;
    padding-bottom: 50px;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
}
ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 150px 0;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    margin: 0;
}

.left p{
    color:#e5e7eb;
    margin-top: 5;
    margin-bottom: 30px;
    
}

.placeholder {
    background-color: grey;
    color: #f9faf8;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 250px;
    margin-left:20px;
    flex-shrink: 0;
}

.left {
    flex-basis: 40%;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid #3882f6;
    padding: 7px 25px;
    transition-duration: 0.4s;
    flex-shrink: 0;
}

button:hover {
    color: #3882f6;
    border: 2px solid #3882f6;
    font-size: 18px;
    border-radius: 10px;
    background-color: #e5e7eb;
}

.info {

}
h2 {
    font-weight: bolder;
    font-size: 36px;
    color:#1f2937;
    text-align: center;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
   
}

.box {
    display: flex;
    flex-direction: column;
    width: 200px;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: center;
}
.content{
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 12%;
}
p.subtext {
    text-align: center;
    width: 150px;
    color: gray;
    vertical-align: text-top;
    margin-top: 5px;
}

.quotebox {
    padding: 150px 0;
    margin-left: 150px;
    margin-right: 100px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color:#1f2937;
    margin: 0;
    min-width: 500px;
}
.author {
    text-align: end;
    font-weight: bolder;
    font-size: larger;
    margin: 0;
    padding-right: 20px;
    min-width: max-content;
}

.action {
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 40px;
    min-width: 500px;
}
h3 {
    color: #f9faf8;
    margin-bottom: 0;
    font-size: 25px;
}
.action p{
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 0;
}

.action button{
    border: 2px solid #e5e7eb;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    font-weight: lighter;
    font-size: small;
    padding: 30px;
}